# Dependencies
node_modules/
.pnp
.pnp.js
.yarn/
yarn.lock

# Build outputs
.next
out
build
dist
*.tsbuildinfo

# Environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDE
.idea
.vscode
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Misc
*.pem
.vercel

# Hardhat
packages/hardhat/cache
packages/hardhat/artifacts
packages/hardhat/typechain-types

# Coverage
coverage
.nyc_output

# Testing
*.log
